.cont {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nevLinks {
  display: flex;
}

.nevLinks div {
  transition: transform 0.5s;
}

.nevLinks div:hover {
  transform: scale(1.21);
}

.nevLinks div a {
  text-decoration: none;
  margin: 0 0.5rem;
}

.hamCont {
  display: none;
  cursor: pointer;
  transition: transform 0.4s;
}

.hamCont:hover {
  transform: scale(1.3);
}

.mobCont {
  display: none;
}

/* Mobile */
@media (max-width: 750px) {
  .cont .nevLinks {
    display: none;
  }

  .hamCont {
    display: block;
  }
  .show {
    display: block;
  }

  .hide {
    display: none;
  }
}
