.mainImgTitle div {
  margin: 1.5rem 0;
}

.featuredImg {
  position: relative;
  width: 100%;
  max-width: 2000px;
  height: auto;
  max-height: 1000px;
  aspect-ratio: 2/1;
  object-fit: contain;
  object-position: center;
}

.heading {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.blogBody {
  width: 100%;
}

@media (max-width: 900px) {
  .blogBody {
    width: 100%;
    margin: 0 3rem;
  }
}
