.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details {
  width: 50%;
}



.details h1 {
  width: 60%;
  /* margin-bottom: 1rem; */
  text-align: justify;
}

.hr{
  border-width: 2px;
  border-style: solid;
  margin: 0.7rem 0;
}

.details p {
  width: 60%;
  font-size: large;
  text-align: justify;
}

.img_cont {
  position: relative;
  width: 340px;
  height: 340px;
  animation: jump 1.5s linear infinite;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Mobile */
@media (max-width: 900px) {
  .main {
    height: auto;
    margin: 1rem;
    padding-bottom: 3rem;
  }

  .details {
    width: 90%;
  }

  .details h1 {
    width: auto;
    text-align: center;
  }

  .details p {
    width: auto;
    text-align: center;
  }

  .img_cont {
    width: 240px;
    height: 240px;
    margin-top: 2rem;
  }
}
