.property {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 50vh;
}

.Marketing {
  animation: rotate 2s linear infinite;
}

.Maintenance {
  animation: rotate 2s linear infinite;
}

@keyframes jump {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.property .text {
  width: 30%;
}

.property .text p {
  width: 80%;
}

/* Mobile */
@media (max-width: 750px) {
  .property {
    height: auto;
    flex-direction: column;
    margin: 5rem 0;
  }

  .property .text {
    width: 90%;
    margin-top: 2rem;
  }

  .property .text p {
    width: 100%;
  }
}
