.heading {
  font-family: "Open Sans", sans-serif;
  font-size: 2.6rem;
  text-align: center;
  margin: 2rem 0;
}

.blogBody {
  width: 100%;
}

.uploaderCont {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.userName {
  margin-left: 0.5rem;
  height: 60px;
  display: flex;
  align-items: center;
}

.dateAndCate {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  width: 100%;
}

@media (max-width: 900px) {
  .blogBody {
    width: 100%;
    margin: 0 3rem;
  }

  .userName {
    margin-left: 0;
  }
}
