.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.video {
  margin: 2rem 0;
}

.cont p {
  width: 70%;
  margin-bottom: 3rem;
}

.btn a {
  text-decoration: none;
  background-color: #0b0324;
  color: #d6d1ce;
  padding: 10px;
  transition: all 0.4s;
  border-radius: 7px;
}

.btn a:hover {
  background-color: #000000;
  color: white;
  border-radius: 0px;
}

/* Mobile */
@media (max-width: 900px) {
  .cont p {
    width: 100%;
  }
}
