.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.video {
  margin: 2rem 0;
}

.cont p {
  width: 70%;
  margin-bottom: 3rem;
}

.btn a {
  text-decoration: none;
  border: none;
  background-color: #d3e9ff;
  padding: 0.5rem;
  font-size: 1rem;
  transition: background-color 0.5s;
  border-radius: 7px;
}

.btn a:hover {
  background-color: aliceblue;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #d3e9ff;
}

/* Mobile */
@media (max-width: 900px) {
  .cont p {
    width: 100%;
  }
}
