.blogCategory {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  border-radius: 20px;
}

.reaper {
  height: 25vh;
  width: 50%;
  backdrop-filter: blur(10px) saturate(144%);
  -webkit-backdrop-filter: blur(10px) saturate(144%);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 20px;
}

.webDevCont {
  background-image: url("../../../public/blog/category/development/development.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.webDesignCont {
  background-image: url("../../../public/blog/category/design/design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.marketing {
  background-image: url("../../../public/blog/category/marketing/marketing.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blogCategory a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.blogCategory a:hover {
  animation: text-shadow 1.5s ease-in-out;
}

@keyframes text-shadow {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }

  20% {
    transform: translateY(-1em);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb203b,
      0 -0.25em 0 #fefc4b;
  }

  40% {
    transform: translateY(0.5em);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb203b, 0 0.125em 0 #fefc4b;
  }

  60% {
    transform: translateY(-0.25em);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb203b, 0 -0.0625em 0 #fefc4b;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb203b, 0 0 0 #fefc4b;
  }
}

@media (max-width: 900px) {
  .blogCategory {
    margin: 1rem;
  }

  .reaper {
    width: 90%;
  }
}
