.cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 6rem;
}

.search {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 1.5rem;
}

.input {
  border: 1px solid #0f0f0f;
  transition: padding 0.4s;
  padding: 3px;
  margin: 1rem 0;
  margin: 0 1rem 0;
}

.input:focus {
  padding: 0.5rem;
  outline: none;
}

.cardCont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 350px;
  width: 30%;
  padding: 2rem;
}

.text {
  margin-top: 1rem;
}

.text p {
  margin: 5px 0;
}

.text h4 {
  margin: 5px 0;
}

.nextPrevBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 270px;
}

.btn {
  border: none;
  background-color: #d3e9ff;
  padding: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s;
  border-radius: 7px;
}

.btn:hover {
  background-color: aliceblue;
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.05);
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
  transform: none;
  background-color: #d3e9ff;
}

@media (max-width: 900px) {
  .card {
    width: 250px;
  }

  .cont {
    margin-top: 3rem;
  }
}
