.input {
  border: 1px solid #0f0f0f;
  transition: padding 0.4s;
  padding: 3px;
  margin: 0.5rem 0;
}

.input:focus {
  padding: 0.5rem;
  outline: none;
}

.buttons button {
  border: none;
  background-color: #d3e9ff;
  padding: 0.5rem;
  font-size: 1rem;
  transition: all 0.3s;
  border-radius: 7px;
  margin: 2rem;
}

.buttons button:hover {
  background-color: aliceblue;
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.05);
}

.block {
  display: block;
  width: 100%;
}

.heading {
  margin: 2rem 0;
}

.readonly {
  opacity: 0.5;
}
